body {
    text-align: center;
    background-color: #011F3F;
}

h1 {
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    color: #FEF2BF;
    margin: 5%;
}

.button-container {
    width: 50%;
    margin: auto;
}

.btn {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 25px;
    border: 10px solid black;
    border-radius: 20%;
}

.green {
    background-color: green;
}

.red {
    background-color: Red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}